<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>New Blog Post</title>
</head>

<body>
<div class = "container">
    <div class="row">
      <div class="login-area col-md-4 text-right" style="float: right; padding:0;">
        {% if user %}
        {{user.name}} (<a class="login-link" href="/logout">logout</a>)
        {% else %}
        <a class="login-link" href="/login">login</a>
        |
        <a class="login-link" href="/signup">signup</a>
        {% endif %}
      </div>
    </div>
    <div class = "row">
      <a href="/blog" class="main-title">
        CS 253 Blog
      </a>
    </div>

  <div class="row">
  <h2 class = "col-md-4">new post</h2>
  </div>
  <form method="post">
    <div class="form-group">
      <label>subject</label>
        <input class="form-control" type="text" name="subject" value="{{subject}}">
    </div>
    <div class="form-group">
      <label>blog</label>
        <textarea class="form-control" name="content" id="text">{{content}}</textarea>
    </div>
    <div class="form-group">
      <div class="error">{{error}}</div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-default">
      </div>
    </form>
  </div>

</body>
